/***** Palette *****/
/***** #fafafa *****/
/***** #e8f1f5 *****/
/***** #005691 *****/
/***** #004a7c *****/

:root {
  --main-blue: #004a7c;
  --main-white: #e8f1f5;
  --sec-blue: #005691;
  --sec-white: #fafafa;
  --accent-color: #0047D9;
}

/* Tag selectors */
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  text-align: center;
  font-family: roboto, sans-serif;
  font-family: "Rajdhani", sans-serif;
  overflow: auto;
}

h1 {
  color: var(--main-blue);
  font-family: "Dancing Script", cursive;
  font-size: clamp(50px, 5vw, 85px);
  margin-top: 40px;
  margin-bottom: 0;
}

h2 {
  color: var(--main-white);
  font-family: "Rajdhani", serif;
  font-size: 2.5rem;
  font-size: clamp(30px, 3.5vw, 40px);
  overflow-wrap: break-word;
  font-weight: bold;
}

h3 {
  color: var(--sec-white);
  font-family: "Rajdhani", serif;
  font-size: clamp(22px, 1.8vw, 30px);
}

a {
  color: var(--main-white);
}

p, li {
  color: white;
  font-size: clamp(20px, 1.5vw, 25px);
}

ul {
  list-style-type: "- ";
}

/* Class selectors */

.dark-text {
  color: var(--sec-blue);
}

.clear-text {
  color: var(--sec-white);
}

.accent-text {
  color: var(--accent-color);
}

.bold {
  font-weight: bold;
}

.hl-light {
  color: white;
}

.flex-center-horizontal {
  display: flex;
  align-items: center;
}

/* Animations */
.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-10%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/**************** Containers ******************/

.top-container {
  background-color: var(--sec-white);
  /* position: relative; */
  padding: 100px 0 0 0;
}

.middle-container {
  background-image: linear-gradient(
    270deg,
    hsl(204deg 100% 24%) 0%,
    hsl(208deg 100% 28%) 11%,
    hsl(211deg 100% 32%) 22%,
    hsl(214deg 100% 35%) 33%,
    hsl(217deg 100% 39%) 44%,
    hsl(219deg 100% 42%) 56%,
    hsl(222deg 100% 44%) 67%,
    hsl(235deg 85% 55%) 78%,
    hsl(252deg 93% 57%) 89%,
    hsl(268deg 100% 50%) 100%
  );
  padding: 100px 0 0 0;
}

/***************** Navbar ******************/
.navbar-dark {
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(
    270deg,
    hsl(204deg 100% 24%) 0%,
    hsl(208deg 100% 28%) 11%,
    hsl(211deg 100% 32%) 22%,
    hsl(214deg 100% 35%) 33%,
    hsl(217deg 100% 39%) 44%,
    hsl(219deg 100% 42%) 56%,
    hsl(222deg 100% 44%) 67%,
    hsl(235deg 85% 55%) 78%,
    hsl(252deg 93% 57%) 89%,
    hsl(268deg 100% 50%) 100%
  );
}

.navbar-collapse {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  text-align: left;
  font-size: clamp(20px, 1.5vw, 25px);
}

.nav-link {
  text-align: left;
  font-size: clamp(18px, 1.3vw, 20px);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler:hover {
  outline: none;
  box-shadow: 0 0 0 2pt var(--sec-white);
}

/*************** Top section ***************/

.city-img {
  width: min(750px, 90%);
}

.personal-image {
  width: min(200px, 40%);
}

.top-cloud {
  position: absolute;
  top: 9%;
  right: 20%;
  z-index: 0;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  z-index: 0;
}

/************* Profile section *************/

#profile {
  padding: 50px 0;
  scroll-margin: 100px;
}

.profile-description {
  margin: 10px auto;
  width: min(70%, 750px);
  text-align: justify;
  line-height: 1.2;
}

/************* Skills section *************/

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sec-white);
  padding: 50px 0px 50px 0px;
  scroll-margin: 50px;
}

.skill-row {
  margin: 0px 0px 30px 0px;
  width: min(70%, 750px);
  text-align: justify;
  line-height: 1.2;
}

.skill-image-right {
  float: right;
  margin-left: 20px;
  width: clamp(80px, 12vw, 110px)
}

.skill-image-left {
  float: left;
  margin-right: 20px;
  width: clamp(80px, 12vw, 110px)
}

/************* Contact me section *************/

#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 50px 0px;
}

.contact-me-description {
  width: min(70%, 750px);
  text-align: justify;
  line-height: 1.2;
}

.mailto-btn {
  border-radius: 5px;
  background-color: var(--main-white);
  color: var(--sec-blue);
  padding: 10px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.mailto-btn:hover {
  color: var(--sec-white);
  text-decoration: none;
  background-color: transparent;
  opacity: 0.8;
  border-style: solid;
}

/************* Footer *************/
.footer-links {
  display: flex;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0 7px;
}

.footer-link:hover {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px #0076f1;
}

.footer-copyright {
  font-size: 1rem;
  padding: 15px;
}

/************* Projects page *************/
#project-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--sec-white);
}

.project-box {
  margin: 30px;
  padding: 20px 30px 20px 30px;
  text-align: left;
  background-color: var(--sec-white);
  background-image: linear-gradient(
    145deg,
    hsl(204deg 100% 24%) 0%,
    hsl(208deg 100% 28%) 0%,
    hsl(211deg 100% 32%) 3%,
    hsl(214deg 100% 35%) 7%,
    hsl(217deg 100% 39%) 14%,
    hsl(219deg 100% 42%) 22%,
    hsl(222deg 100% 44%) 33%,
    hsl(235deg 85% 55%) 48%,
    hsl(252deg 93% 57%) 68%,
    hsl(268deg 100% 50%) 100%
  );
  width: min(90%, 1000px);
  border-radius: 20px;
  position: relative;
}

/************/

.project-affiliation {
  margin-bottom: 130px;
}

.proj-desc-list {
  padding-left: 20px;
}

.project-desc {
  height: 7rem;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.project-desc::-webkit-scrollbar {
  display: none;
}

.project-bottom {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.project-tool {
  margin: 0;
  font-size: clamp(18px, 1.5vw, 25px);
}

.project-links {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 2.6rem;
}

.project-link-btn {
  text-decoration: none;
  font-size: 2.6rem;
  margin: 0 7px;
}

.project-link-btn:hover {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px #0076f1;
}

/************* Media Queries *************/
@media (max-width: 500px)  {
  .project-bottom {
    flex-direction: column;
    padding: 0;
  }

  .project-box {
    margin: 15px;
    padding: 15px;
  }

  .project-title, .proj-desc-list {
    padding-left: 20px;
  }

  .project-affiliation {
    margin-bottom: 40px;
  }

  .project-desc {
    height: 4rem;
  }

  .project-link-btn {
    font-size: 2rem;
  }
}


@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
